<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello React Todos</title>
    <script src="static/js/react.js"></script>
    <script src="static/js/JSXTransformer.js"></script>
    <script src="static/js/jquery.min.js"></script>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="static/js/bootstrap.min.js"></script>
    <script type="text/jsx" src="static/jsx/todos.jsx"></script>
    <link rel="stylesheet" href="static/css/style.css">

  </head>
  <section class="todoapp">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-4">
          <h1 class="todo-header">TODOS</h1>
          <div id="main">
          </div>

        </div>
      </div>
    </div>
  </section>
  </body>
</html>
